@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  @apply w-1;
  @apply h-1;
}
::-webkit-scrollbar-track {
  @apply bg-white/30;
}

::-webkit-scrollbar-thumb {
  @apply bg-green-600;
  @apply rounded-md;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-green-400;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
  z-index: 999;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
  z-index: 999;
}
